---
import Layout from '../layouts/Layout.astro';
---

<main>
	<Layout title="Recipe Storage Bin">
		<h1>Welcome to Recipe Storage Bin!</h1>
		<p>A place where you can look for recipes that others have created to fuel your ideas and dinner.</p>
		<p>You can also create an account and add new recipes for others to check out as well as organize your favorites for quick easy access.</p>
		<p>Check them out <a href="/recipes/">here</a></p>
	</Layout>
</main>
