---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
---
<Navigation
  includeLogin={false}
/>
<main>
	<Layout title="Recipe Storage Bin">
		<h1>Login</h1>
    <p>Login form will be here</p>
	</Layout>
</main>

<style>
html, body {
	margin: 0;
	padding: 0;
}
</style>