---
import { app } from "../../firebase/server";
import { getAuth } from "firebase-admin/auth";

import Layout from "../../layouts/Layout.astro";
import Form from "../../components/Form.astro";

// auth section
const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}

const sessionCookie = Astro.cookies.get("session")?.value;
const decodedCookie = sessionCookie && await auth.verifySessionCookie(sessionCookie);
const user:any = decodedCookie && await auth.getUser(decodedCookie.uid);

const inputs = [
  {
    for: 'name',
    text: 'Name',
    type: 'text',
    id: 'name',
    name: 'name',
  },
  {
    for: 'description',
    text: 'Description',
    type: 'text',
    id: 'description',
    name: 'description',
  },
  {
    for: 'ingredients',
    text: 'Ingredients',
    type: 'textarea',
    id: 'ingredients',
    name: 'ingredients',
  },
];

const submitButton = {
  text: 'Add a recipe',
  type: 'submit',
};
---

<Layout title="Add a new recipe">
  <h1>Add a new recipe</h1>
  <Form
    inputs={inputs}
    action="/api/recipes/"
    method="post"
    submitButton={submitButton}
  >
    <input type="hidden" name="email" id="email" value={user?.email} />
  </Form>
</Layout>
