.navigationWrapper {
  border-bottom: 1px solid black;
  background: var(--black-transparent-25);
  border-bottom: 1px solid var(--black-transparent-25);
}

.container {
  margin: 0 auto;
}

.logoWrapper {
  display: flex;
  padding: 1rem .5rem 0;
  font-weight: bold;
  justify-content: space-between;

  span {
    color: var(--white-pale);
    text-shadow: -1px -1px 0 var(--black);
  }
}

.form {
  display: inline;
}

.hiddenXs {
  display: none;
}

.navigation {
  list-style-type: none;
  padding: 0;
}

.navigationListItem {
  display: inline-block;
  padding: .5rem;

  a {
    text-decoration: none;
    font-weight: bold;
    color: #111;
  }
}

.loggedInUser {
  display: inline-block;
  text-align: right;
}
