---
import Navigation from "../components/Navigation";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";
import { ViewTransitions } from "astro:transitions";

import Styles from './layout.module.scss';

interface Props {
	title: string;
}

// db for user
const db = getFirestore(app);

// auth section
const auth = getAuth(app);

const sessionCookie = Astro.cookies.get("session")?.value;
const decodedCookie = sessionCookie && await auth.verifySessionCookie(sessionCookie);
const user = decodedCookie && await auth.getUser(decodedCookie.uid);

const {
	title,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Recipe Storage Bin" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Navigation 
		  includeLogin={true}
			userInfo={user}
		/>
		<div class="container">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--brick: #b56015;
		--white-pale: #e4eaaa;
		--black: #000;
		--black-medium: #666;
		--white: #fff;
		--black-transparent-25: rgba(0, 0, 0, .25);
		--black-transparent-50: rgba(0, 0, 0, .5);
		--black-transparent-75: rgba(0, 0, 0, .75);
		--white-transparent-75: rgba(255,255,255,.75);
		--white-transparent-50: rgba(255,255,255,.5);
		--white-transparent-25: rgba(255,255,255,.25);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	html, body {
		margin: 0;
		padding: 0;
	}
	body {
		background-image: url('/images/brick-wall-dark.png');
		background-position: top left;
		background-repeat: repeat;
		background-color: var(--brick);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	a {
		color: var(--white-pale);
	}
	.container {
		margin: 0 auto;
		padding: 0 .5rem;
	}

	@media(min-width: 960px) {
    .container {
			width: 960px;
		}
	}
</style>
